.navBar{
    background-color: #393939;
    color: #FF0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
    padding: 0;
    font-family: 'Oswald', sans-serif;
    position: sticky;
    top:0;
    overflow: hidden;
    z-index: 100;
  }
  .navBar a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    
  }
  .navBar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-self: center;
    align-items: center;
  }
 

  .navBar li{
    text-align: center;
    font-size: 1.5rem;
    
    
  }
  
  .logo{
    font-size: 2.5rem;
    
  }
  .navBar img{
    width: 5rem;
    border-radius: 50%;
    /* margin: .25rem; */
    padding: 0;
    margin-bottom: -5px;
    margin-top: -5px;
  }
  /* .navBar input{
    padding: 0;
    height: 2rem;
    width: 37%;
    display: flex;
    align-self: center;
    border-radius: 5px;
  } */
  .navBar button{
  /* display: flex;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  height: 2rem;
  width: 5rem;
  position: absolute;
  top: 2.4%;
  left: 27%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  border: transparent;
  background-color: white;
  border-radius: 999px;
  margin: 5px; */
  display: flex;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  height: 30px;
  width: 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* margin: auto; */
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  border: transparent;
  background-color: white;
  border-radius: 999px;
  margin: 10px;
  /* animation: floating 3s ease-in-out infinite; */
}


  
  body{
    background-color: black;
  }
  
  .headerAvatar{
    height: 60px !important;
    width: 60px !important;
    margin-right: 15px;
  }

  .headerUsername{
    font-family: 'Pacifico', cursive;
    font-size: 27px;
    color: white;
    text-shadow: 
    #FFF 0px 0px 5px, 
    #FF0000 0px 0px 10px, 
    #FF0000 0px 0px 15px, 
    #FF0000 0px 0px 20px, 
    #FF0000 0px 0px 30px, 
    #FF0000 0px 0px 40px, 
    #FF0000 0px 0px 50px, 
    #FF0000 0px 0px 75px; 
  }

  .avaterusernameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  




